<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>商品一覧</h1>



<table>
<tr>
  <th>商品名</th><th>価格</th>
</tr>
  <tr th:each="element : ${ItemList}">
    <td>[[${element.value.name}]]</td>
    <td>[[${element.value.price}]]円</td>
    <td>
    <form action="#" th:action="@{/List}" th:object="${ItemForm}" method="POST"  >
      <input type="hidden" name="itemId" th:value="${element.value.itemId}" />
      <input type="submit" value="カートに追加" />
    </form>
    </td>
  </tr>
</table>



</body>
</html>